


.management .dropdown-menu {
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; 
  }
  
  
  .management:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  
 
  .management .dropdown-item {
    color: #333;
    padding: 8px 16px;
    transition: background-color 0.3s;
  }
  
  .management .dropdown-item:hover,
  .management .dropdown-item:focus {
    background-color: #4c96e1;
    color: white;
  }
  
  
  .management .dropdown-header {
    font-weight: bold;
    color: #007bff; 
  }

  #logout{
    display: flex;
    justify-content: center;
    border: solid 1px;
    width: 110px;
    border-radius: 3px;
  }

  #logout:hover{
    border-color: white;
    color: rgb(255, 255, 255);
    background-color: rgba(47, 47, 48, 0.797);
    transition: 0.2s ease-in;
  }

  .custom-dropdown .dropdown-menu {
    right: auto;
    left: 0;
  }
  
  
.nested-dropdown .nav-link {
    transition: background-color 0.3s, color 0.3s, width 0.3s;
  }
  
  .nested-dropdown .nav-link:hover {
    background-color: #666362;
    color: rgb(237, 237, 237);
    width: 100%;
  }
  
  
  .nested-dropdown .dropdown-menu {
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .nested-dropdown .dropdown-menu {
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
  }
  
  
  .nested-dropdown .dropdown-menu a:hover {
    background-color: #447bfc; 
  }

  .header {
    position: relative;
    z-index: 3; 
}
.navbar {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}
  
  
  
  
  