.payment-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.initiating {
    animation: blur-background 1s ease-in-out;
}

.processing {
    animation: blur-background 1s ease-in-out;
}

.spinner {
    animation: rotate 1s linear infinite;
    height: 24px;
    width: 24px;
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes blur-background {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(5px);
    }
}