*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/admin/verifyOTP/Screenshot\ \(213\).png');
    padding: 30px;
    margin: 0;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.quote{
    color: #FFF500;
    stroke: black;
    width: 326px;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 31px;
}
.buttonSub{
    background-color: #454545;
    color: white;
    border: 2px solid #454545;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.buttonSub:hover{
    background-color: #8c8c8c;
    color: #fff; 
    border-color: #8c8c8c;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  