/* booking.css */
.main-contents {
    padding-top: 85px;
    margin: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.car-heading{
    font-family: 'Archivo';
    font-size: xxx-large;
}

.left-contents {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.237);
    transition: box-shadow 0.3s ease;
}

.left-contents:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.475);
}

.cars-details{
    justify-content: space-evenly;
}

.div-cars{
    border: solid 1px grey;
    padding: 5px;
    border-radius: 4px;
}

.pickup-details{
    margin-right: 'auto';
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.left-contents {
    animation: fadeInUp 0.5s ease forwards;
}

.rightside-contents{
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.368);
    transition: box-shadow 0.3s ease;
}

.rightside-contents:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.475);
}