.contents {
    width: 90%;
    padding: 20px;
    border: solid 1px grey;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contents:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 12%;
    margin-top: 12px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
    transform: scale(1.1);
}

.user-name {
    font-size: larger;
    font-weight: bolder;
}

.user-email {
    color: #696969;
    font-size: small;
}

.text-heading {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 900;
    font-style: oblique;
    position: relative;
}

.text-heading::after {
    content: '';
    width: 50px;
    height: 4px;
    background: #000;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.text-heading:hover::after {
    transform: translateX(-50%) translateY(5px);
    opacity: 1;
}

.stats {
    animation: fadeInUp 0.8s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.user-details, .right-side-contents {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
    animation: fadeIn 0.5s ease-in-out;
    width: 100%;
}

.user-details h5, .right-side-contents h4 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333333;
}

.user-details p, .right-side-contents p {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #555555;
    display: flex;
    align-items: center;
}

.user-details hr, .right-side-contents hr {
    margin: 20px 0;
    border-color: #eeeeee;
}

.details {
    margin-bottom: 20px;
    width: 100%;
}

.details > div {
    flex: 1;
    text-align: left;
}

.details h5 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #333333;
    margin: 5px 0;
}

.icon {
    margin-right: 8px;
    color: #888888;
}

.text-sub{
    font-size: x-large;
    font-weight: 500;
}

.favorite-car-img {
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.right-side-contents{
    margin-top: 54px;
}

.profile-img-container {
    position: relative;
    display: inline-block;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.file-input {
    display: none;
}

.plus-button {
    position: absolute;
    bottom: 5px;
    right: 10%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

.plus-button:hover {
    background-color: #0056b3;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 50%;
    background-color: #f0f0f0;
  }
  
  .wave-loader {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f0f0f0;
    background-image: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: wave 1.5s infinite linear;
  }
  
  @keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  


