.main-class{
    margin-top: 12rem
}

.horizontal-scroll-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.horizontal-scroll-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

/* .horizontal-scroll-container::-webkit-scrollbar {
    height: 8px;
} */

/* .horizontal-scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.horizontal-scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

.card-wrapper {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px; 
}
@media (max-width: 1200px){
    .horizontal-scroll-wrapper {
        overflow-x: auto;
        white-space: nowrap;
      }
      
      .horizontal-scroll-container {
        display: flex;
        flex-direction: row;
      }
      
      .card-wrapper {
        display: inline-block;
        width: calc(100% / 3);
        margin-right: 10px;
      }
}

