/* adminLayout.css */

.admins-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 20%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}

.contents-wrapper {
  flex: 1;
  overflow-y: auto;
  padding: 0;
  margin-top: var(--header-height); /* Corrected margin-top value */
  margin-left: 20%;
}

.content {
  padding: 50px;
  padding-top: 12%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  position: sticky;
}
